keras
matplotlib
opencv-python
Pillow
numpy
tensorflow-gpu==1.5.0
scikit-learn
git+https://github.com/raghakot/keras-vis.git 
git+https://github.com/totti0223/lucid4keras.git 
PyQt5
easygui
coremltools
imutils
image-classifiers
tk-tools
jupyter notebook
